.footer__row {
	height: 80px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info {
	display: flex;
	color: #fffdd0;

	& > *:not(:last-child) {
		margin: 0px 20px 0px 0px;
	}
}

.info__link {
	color: #fffdd0;

	cursor: pointer;
	transition: all 0.3s ease 0s;

	&:hover {
		color: darken(#808000, 20%);
		text-decoration: underline;
	}
}

.footer__link {
	color: #fffdd0;

	cursor: pointer;
	transition: all 0.3s ease 0s;

	&:hover {
		color: darken(#808000, 20%);
		text-decoration: underline;
	}
}
